extends layout

block content
  .container
    h1 Blog Statistics
    include partials/messages
    
    .card.mt-4
      .card-body
        h5.card-title Blog Overview
        ul.list-group.list-group-flush
          li.list-group-item
            strong Total Posts: 
            span #{stats.totalPosts}
